{include file='header'}

<style type="text/css">
	.fade {opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear}
.fade.in {opacity: 1}
.modal-open {overflow: hidden}
.modal{ position:fixed; left:0; top:30%; right:0; bottom:0; z-index:1040; display:none; overflow:hidden;-webkit-overflow-scrolling:touch; outline:0}
.modal.fade .modal-dialog{
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%)}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)}
.modal-open .modal {overflow-x: hidden;overflow-y: auto}
	.modal-backdrop {position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: #000}
	.modal-backdrop.fade {filter: alpha(opacity=0);opacity: 0}
	.modal-backdrop.in {filter: alpha(opacity=50);opacity: .5}
	.modal-dialog {position: relative;width: auto;margin: 10px}
	.modal-content{position: relative;background-color: #fff;border: 1px solid #999;border: 1px solid rgba(0,0,0,.2);outline: 0;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; 
		-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
		box-shadow: 0 3px 9px rgba(0,0,0,.5)}
	
		.modal-header {min-height: 16.42857143px;padding: 15px;border-bottom: 1px solid #eee; position:relative}
		.modal-header .close{position:absolute; right:10px; top:10px}
		.modal-header h3,.modal-header .modal-title{margin:0; padding:10px 0; font-size:16px}
	
		.modal-body {position:relative;padding: 15px;overflow-y:visible;word-break:break-all}
			.modal-form {margin-bottom: 0}
	
		.modal-footer {padding:15px;margin-bottom: 0;text-align: right;background-color: #f5f5f5;border-top: 1px solid #eee;*zoom: 1}
		.modal-footer:before,.modal-footer:after {display: table;content: ""}
		.modal-footer:after {clear: both}
		.modal-footer .btn + .btn {margin-left: 5px;margin-bottom: 0}
		.modal-footer .btn-group .btn + .btn {margin-left: -1px}
		.modal-footer .btn-block + .btn-block {margin-left: 0}
		
	.modal-scrollbar-measure {position: absolute;top: -9999px;width: 50px;height: 50px;overflow: scroll}
	
	.radius .modal-content{ border-radius:6px}
	.radius .modal-footer{ border-bottom-left-radius:6px; border-bottom-right-radius:6px}
	@media (min-width: 768px) {
		.modal-dialog {width: 600px;margin: 30px auto}
		.modal-content {-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);box-shadow: 0 5px 15px rgba(0, 0, 0, .5)}
		.modal-sm {width: 300px}
	}
	@media (min-width: 992px) {
		.modal-lg {width: 900px}
	}
 
.modal-alert{position:fixed; right:auto; bottom:auto; width:300px; left:50%;margin-left:-150px; top:50%;margin-top:-30px; z-index:9999;background-color: #fff;border: 1px solid #999;border: 1px solid rgba(0,0,0,.2);outline: 0;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)}
.modal-alert-info{padding:30px; text-align:center; font-size:14px; background-color:#fff}
#my_number{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 10px 10px;
    width: 300px;
    font-size: 14px;
}
/*#permission_category{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 10px 10px;
    width: 300px;
    font-size: 14px;
}*/
#up_price{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 10px 10px;
    width: 300px;
    font-size: 14px;
}
#up_goods{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 10px 10px;
    width: 300px;
    font-size: 14px;
}
</style>
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
					<input type="text" class="input-text" style="width:200px" placeholder="商品名称" id="name">
				<!-- 	<input type="text" class="input-text" style="width:200px" placeholder="商品价格" id="price">
					<input type="text" class="input-text" style="width:200px" placeholder="商品库存" id="number"> -->
					<input type="text" name="__token__" id="token" value="{$Request.token}" hidden="" />
					<select id="cate">
						<option value="">选择品牌分类</option>
						
					</select>
					<select id="brand">
						<option value="">选择品牌</option>
						
					</select>
					<button type="submit" class="btn btn-success" onclick="add_action()"><i class="Hui-iconfont">&#xe665;</i> 添加商品</button>

			</div>
			<div class="text-c">
			<span id="op">&nbsp</span>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="all_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="10" style="text-align: center;font-size: 30px">商品</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="40">ID</th>
						<th width="180">商品名称</th>
						<th width="100">商品分类</th>
						<th width="100">商品品牌</th>
						<th width="100">商品图片</th>
						<th width="40">是否上架</th>
						<th width="100">上架时间</th>
						<th width="40">操作</th>
					</tr>
				</thead>
				<tbody id="ii">
					
				</tbody>
			</table>
			<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content radius">
						<div class="modal-header">
							<h3 class="modal-title">请在下面进行修改</h3>
							<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
						</div>
						<div class="modal-body">
							<!-- <input type="text" value="" id="up_permission_id" hidden=""> -->
						<input type="text" value="" id="up_goods_id" hidden="">
							商品名:<input type="text" value="" id="up_goods">
							<br>
							<br>
							<!-- 商品价格:<input type="text" value="" id="up_price">
							<br>
							<br>
							商品库存:<input type="text" value="" id="my_number">
							<br>
							<br> -->
							商品分类:<select id="up_cate">
															
									</select>
							<br>
							<br>
							商品品牌:<select id="up_brand">
															
									</select>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" onclick="up_ok()">确定</button>
							<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
{include file='footer'}
<script type="text/javascript">
	function list() {
		$.ajax({
			url:"{:url('goods/list')}",
			dataType:'json',
			success:function (res) {
				var tr=''
				var all_cate=''
				var all_brand=''
				cate=res.cate
				brand=res.brand
				arr=res.data
				for (var i = 0; i < cate.length; i++) {
					all_cate=all_cate+"<option value='"+cate[i].cate_id+"'>"+cate[i].cate_name+"</option>"
				}
				$('#cate').html("<option value=''>请选择分类</option>"+all_cate)
				for (var i = 0; i < brand.length; i++) {
					all_brand=all_brand+"<option value='"+brand[i].brand_id+"'>"+brand[i].brand_name+"</option>"
				}
				$('#brand').html("<option value=''>请选择品牌</option>"+all_brand)
				for (var i = 0; i < arr.length; i++) {
					if (arr[i].is_show=="1") {
						tr=tr+"<tr class='text-c'><td><input type='checkbox' value='"+arr[i].goods_id+"' name='my_input' id='po'></td><td>"+arr[i].goods_id+"</td><td>"+arr[i].goods_name+"</td><td>"+arr[i].cate_name+"</td><td>"+arr[i].brand_name+"</td><td><a href='{:url('goods/goods_img')}?id="+arr[i].goods_id+"'>点击查看</a></td><td value='1' onclick='show("+arr[i].goods_id+",1)'><i class='Hui-iconfont'>&#xe6a8;</i></td><td>"+arr[i].add_time+"</td><td><a title='编辑' href='javascript:;'  class='ml-5' style='text-decoration:none' onclick='up_goods("+arr[i].goods_id+")'><i class='Hui-iconfont'>&#xe6df;</i></a> <a title='删除' href='javascript:;'  class='ml-5' style='text-decoration:none' onclick='del_goods("+arr[i].goods_id+")'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>"
					}else{
						tr=tr+"<tr class='text-c'><td><input type='checkbox' value='"+arr[i].goods_id+"' name='my_input' id='po'></td><td>"+arr[i].goods_id+"</td><td>"+arr[i].goods_name+"</td><td>"+arr[i].cate_name+"</td><td>"+arr[i].brand_name+"</td><td><a href='{:url('goods/goods_img')}?id="+arr[i].goods_id+"'>点击查看</a></td><td value='0' onclick='show("+arr[i].goods_id+",0)'><i class='Hui-iconfont'>&#xe631;</i></td><td>"+arr[i].add_time+"</td><td><a title='编辑' href='javascript:;'  class='ml-5' style='text-decoration:none' onclick='up_goods("+arr[i].goods_id+")'><i class='Hui-iconfont'>&#xe6df;</i></a> <a title='删除' href='javascript:;'  class='ml-5' style='text-decoration:none' onclick='del_goods("+arr[i].goods_id+")'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>"
					}
					$('#ii').html(tr)
				}
			}
		})
	}
	list()
	function add_action(c) {
		var __token__=$('#token').val()
		var name=$('#name').val()
		var price=$('#price').val()
		var number=$('#number').val()
		var cate_id=$('#cate').val()
		var brand_id=$('#brand').val()
		$.ajax({
			url:"{:url('goods/add_action')}",
			data:{
				name:name,
				price:price,
				number:number,
				cate_id:cate_id,
				brand_id:brand_id,
				__token__:__token__
			},
			type:'post',
			dataType:'json',
			success:function (res) {
				new_token()
				$('#name').val('')
				$('#price').val('')
				$('#number').val('')
				alert(res.data)
				list()
			}
		})
	}
	function new_token() {
		$.ajax({
			url:"{:url('common/token')}",
			dataType:'json',
			success:function (res) {
				$('#token').val(res.token)
			}
		})
	}
	function del_goods(id) {
		var __token__=$('#token').val()
		console.log(id)
		$.ajax({
			url:"{:url('goods/del_action')}",
			data:{
				id:id,
				__token__:__token__
			},
			type:'post',
			dataType:'json',
			success:function (res) {
				new_token()
				alert(res.data)
				list()
			}
		})
	}
	function up_goods(id) {
		$.ajax({
			url:"{:url('goods/select_all')}",
			data:{
				id:id,
			},
			type:'post',
			dataType:'json',
			success:function (res) {
				arr=res.data
				brand=res.brand
				cate=res.cate
				all_brand=''
				select_brand=''
				all_cate=''
				select_cate=''
				$('#up_goods').val(arr[0].goods_name)
				$('#up_goods_id').val(arr[0].goods_id)
				for (var i = 0; i < brand.length; i++) {
					if (brand[i].brand_id==arr[0].brand_id) {
						select_brand="<option value='"+brand[i].brand_id+"' selected>"+brand[i].brand_name+"</option>"
					}else{
						all_brand=all_brand+"<option value='"+brand[i].brand_id+"'>"+brand[i].brand_name+"</option>"
					}
				}
				for (var i = 0; i < cate.length; i++) {
					if (cate[i].cate_id==arr[0].cate_id) {
						select_cate="<option value='"+cate[i].cate_id+"' selected>"+cate[i].cate_name+"</option>"
					}else{
						all_cate=all_cate+"<option value='"+cate[i].cate_id+"'>"+cate[i].cate_name+"</option>"
					}
				}
				brand=select_brand+all_brand
				cate=select_cate+all_cate
				$('#up_brand').html(brand)
				$('#up_cate').html(cate)
				$('#modal-demo').modal('show')
			}
		})
	}
	function up_ok() {
		var id=$('#up_goods_id').val()
		var name=$('#up_goods').val()
		var cate=$('#up_cate').val()
		var brand=$('#up_brand').val()
		var __token__=$('#token').val()
		$.ajax({
			url:"{:url('goods/up_action')}",
			data:{
				id:id,
				name:name,
				cate:cate,
				brand:brand,
				__token__:__token__
			},
			type:'post',
			dataType:'json',
			success:function (res) {
				if (res.status=='ok') {
					new_token()
					list()
					alert('修改成功!')
					$('#modal-demo').modal('hide')
				}else{
					alert(res.data)
				}
			}
		})
	}
	function show(id,value) {
		var __token__=$('#token').val()
		$.ajax({
			url:"{:url('goods/up_show')}",
			data:{
				id:id,
				value:value,
				__token__:__token__
			},
			type:'post',
			dataType:'json',
			success:function (res) {
				if (res.status=='ok') {
					new_token()
					list()
				}else{
					alert('修改失败!')
				}
			}
		})
	}
</script>
